.avatar{
    padding-top: 200px;
    padding-left: 850px;
}

.welcomeText{
    padding-left: 770px; 
}

.button{
    padding-top: 50px; 
    padding-left: 750px; 
}

.logoutButton{
    padding-left:60px;
    padding-top:0px; 
}